*, body {
	margin: 0;
	padding: 0;
	font-family: arial;
}
#mainFr {
  width: 96%;
  height: 96%;
	margin: 2%;
}
#header {
	height: 10%;
	margin-bottom: 1%;
}
#monGrid {
	width: 96%;
	min-width: 975px;
	height: 85%;
	min-height: 430px;
	position: absolute;
}
#dayGrid {
	border-top: 1px solid grey;
}
#noEvents {
	margin-left: 80px;
	background-color: #9CC1D4;
	padding: 3px 18px 3px 18px;
}
#year {
	margin: 1%;
	font-size: 1,3em;
}
#saveB, #delB, #closeX {
	padding: 0px 6px 0px 6px ;
}
#delB {
	color: #a50000;
}
#addEvDiv {
	position: absolute;
	z-index: 9999;
	display: inline-block;
	padding: 2px;
	border: 1px solid grey;
	text-align: left;
	box-shadow: 1px 1px 1px grey;
	white-space: nowrap;
	background-color: #9CC1D4;
}
table {
	table-layout: fixed;
}
th, td {
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	padding: 0.5%;
	text-align: right;
	vertical-align: top;
	overflow: hidden;
}
th {
	font-size: 1.1em;
}
td {
	height: 16%;
	background-color: #f4f4f4;
}
td.time {
	width: 0.5%;
	text-align: center;
	vertical-align: top;
	padding: 0;
	background-color: inherit;
}
td > .uEvent {
	color: #494949;
	background-color: #9CC1D4;
}
.evBlock {
	text-align: left;
	line-height: 1.3em;
}
.evCover {
	position: relative;
	display: inline;
	background-color: #9CC1D4;
}
.uEvent {
	color: black;
	margin-top: 3px;
	padding: 0px 5px 0px 5px;
}
.dayOfM {
	font-size: 1.8em;
	font-style: oblique;
}
.itm {
	min-height: 60px;
	min-width: 65px;
	vertical-align: middle;
	line-height: 2.1em;
}
.fBox {
	padding: 1px;
	margin: 0px 3px 0px 3px;
}
.month {
	margin-left: 1%;
	font-size: 1.7em;
	font-style: oblique;
}
.otherMonth {
	color: #c0c0c0;
	background-color: #f9f9f9;
}
.weekEnd {
	border-right: solid 2px red;
}
.eventsDiscr {
	font-size: 0.9em;
	color: grey;
	overflow: hidden;
}
.today {
	background-color: #d7e6f1;
	font-weight: bold;
}
